{erl_opts, [debug_info]}.
{deps, [
       {yamerl, "0.3.2", {git, "https://github.com/hazsul/yamerl.git", {tag, "v0.3.2-1"}}},
       {pbpc, ".*", {git, "https://github.com/pundunlabs/pbpc.git", {branch, "master"}}},
       {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git", {branch, "master"}}},
       {gb_conf, ".*", {git, "https://github.com/hazsul/gb_conf.git", {branch, "master"}}}
       ]}.


{relx, [{release, {pundun_client, "0.0.1"},
         [kernel,
	  stdlib,
	  {mnesia, load},
	  {gb_log,load},
	  gb_conf,
	  sasl,
	  ssl,
	  yamerl,
	  scramerl,
	  {pundun_client,load}]},
	{overlay, [{mkdir, "data/db"}],
        {dev_mode, true},
        {include_erts, false},
	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"},
        {extended_start_script, true}]}.
